/* RESETS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/* CSS */

body{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/bg-pattern-top-mobile.svg"), url("assets/images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 0 left 0, bottom -30vh right 0;
}

.main{
    width: 375px;
    margin: 1rem;
}

.wrapper{
    padding: 5rem 2rem 0rem 2rem;
    text-align: center;
}

.title h1{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 2.4em;
    line-height: 30px;
    padding-bottom: 1.5rem;
}

.title p{
    color: hsl(303, 10%, 53%);
    font-size: 1.13em;
    line-height: 24px;
}

.stars{
    width: 120px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.card-review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.card-review p{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 1.05em;
}

.profil{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.profil img{
    border-radius: 40px;
    width: 15%;
    margin-right: 1.5rem;
}

.profil span{
    color: hsl(333, 80%, 67%);
}

.card{
    background-color: hsl(300, 43%, 22%);
    color: white;
    padding: 2rem 2.2rem 2rem 2.2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.bottom-section{
    margin-top: 3rem;
}

.commentaire{
    text-align: start;
    line-height: 20px;
}

footer{
    margin-bottom: 3rem;
    font-size: 0.9em;
}

footer a{
    color: #502050;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {

    body{
        background-image: url("assets/images/bg-pattern-top-desktop.svg"), url("assets/images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat;
        background-position: top 0 left 0, bottom -30vh right 0;
    }

    .main{
        min-width: 1020px;
    }

    .top-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title{
        width: 350px;
        text-align: start;
        font-size: 1em;
    }

    .title h1{
        font-size: 2.8em;
        line-height: 40px;
        font-weight: 700;
    }

    .title p{
        font-size: 1em;
    }

    .card-review{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 430px;
    }

    .stars{
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 0;
    }

    #card-review2{
        margin-left: -3rem;
    }

    #card-review1{
        margin-left: -6rem;
    }

    .card{
        width: 300px;
        height: 210px;
        padding: 2rem 1.3rem 2rem 1.3rem;
    }

    .bottom-section{
        display: flex;
        justify-content: space-between;
    }

    #card2{
        margin-top: 1rem;
    }

    #card3{
        margin-top: 2rem;
    }

    footer{
        font-size: 1em;
    }
}